:root {
  /* colores */
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);

  /* 
  tamanos:
  mobile: 375px;
  desktop: 1440px; 
  */
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  background-color: var(--PaleBlue);
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: white;
  width: auto;
  height: auto;
  border-radius: 15px;
}

.img-card {
  width: auto;
}

.img-blue {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.description-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
}
.title {
  color: var(--DarkBlue);
  font-weight: 700;
}
.description {
  text-align: center;
  margin-top: 0px;
  color: var(--DesaturatedBlue);
  font-weight: 500;
  font-size: 14px;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  background-color: var(--VeryPaleBlue);
  padding: 1rem;
  width: 80%;
  height: 40px;
  border-radius: 12px;
}
.song {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.img-song {
  width: 50px;
}

.details-plan {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 1rem;
  justify-content: space-between;
}

.anual-plan {
  margin: 0;
  color: var(--DarkBlue);
  font-weight: 700;
  font-size: 15px;
}

.details-price {
  margin: 0;
  color: var(--DesaturatedBlue);
  font-weight: 500;
  font-size: 15px;
}

.link-change {
  color: var(--BrightBlue);
  font-weight: 700;
  font-size: 14px;
}

.buttons {
  display: block;
  width: 90%;
}
.proceed {
  width: 100%;
  margin: 2em 0 1em 0;
  padding: 1em 0;
  background-color: var(--BrightBlue);
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 700;
}

.cancel {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 1em 0;
  color: var(--DesaturatedBlue);
  background-color: white;
  border: none;
  border-radius: 12px;
  font-weight: 700;
}
@media (max-width: 603px) {
  .details {
    width: auto;
    margin: 1rem;
  }
  .anual-plan {
    font-size: 11px;
  }
  .details-price {
    font-size: 11px;
  }
}
@media (max-width: 375px) {
  .details {
    width: auto;
    margin: 1rem;
  }
  .img-song {
    width: 40px;
  }
  .anual-plan {
    font-size: 11px;
  }
  .details-price {
    font-size: 11px;
  }
  .link-change {
    font-size: 12px;
  }
}
